@font-face {
    font-family: AU_Passata;
    src: url(font-au/AUPassata_Rg.ttf);
    font-weight: normal;
}

@font-face {
    font-family: AU_Passata_bold;
    src: url(font-au/AUPassata_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: AU_Passata_light;
    src: url(font-au/AUPassata_Light.ttf);
}

@font-face {
    font-family: AU_Peto;
    src: url(font-au/AU_Peto.ttf);
}


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: AU_Passata, 'opensans-regular', sans-serif;
}


@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: AU_Passata_bold, 'opensans-bold', sans-serif;
    font-weight: normal;
}

p {
    font: 19px/28px AU_Passata, 'opensans-light', sans-serif; /* 19px/36px*/
    margin-bottom: 18px;
}

h1 {
    font-size: 4.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5em;
    text-transform: uppercase;
}

h3 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section h4 {
    font-size: 1.5em;
}

img {
    width: 100%;
}

.fixed-top {
    min-height: 60px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 80px;
    font-size: 30px;
}

@media (max-width: 767px) {
    .fixed-top {
        min-height: 0;
    }

    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    #mlh-trust-badge {
        left: 25px;
    }
}

footer:before {
    top: -4em;
    height: 4em;
    background-image: url("../img/figures/gray_bottom_right_triangle.svg");
}

footer {
    background-color: #364759;
    color: #ffffff;
    text-align: center;
}

footer h3 {
    padding-bottom: 25px;
}

footer a {
    color: #ffffff;
}

footer .fa:hover {
    color: #D65B12;
}

footer hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer .info-row {
    margin-bottom: 50px;
}

footer .info-row a {
    color: #fff;
}

.triangle:before, .triangle:after {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: relative;
    width: 100%;
    content: '';
    left: 0;
}