hr {
  background-color: #ffffff;
  margin-bottom: 50px;
}

/*
 -------------- Logo SECTION --------------
 */

#logo-section {
  background: url("../img/WebBanner.jpg") no-repeat center #d65b12;
  background-size: cover;
  /*background-color: #D65B12;*/
  height: 100vh;
  color: #ffffff;
  margin-top: 60px;
}

#logo-section h1 {
  font-size: 10vh; /*6em;*/
}

#logo-section p {
  font-size: 5vh; /*2em;*/
}

#logo-section .logo-section-top-margin {
  height: 50vh;
}

#logo-section .btn-lg {
  font-size: 3vh;
}

/*
-------------- SIGN UP SECTION --------------
 */

input.mce_inline_error {
  border-color: #d65b12 !important;
}

div.mce_inline_error {
  background-color: #d65b12 !important;
}

#mce-success-response,
#mce-error-response {
  background-color: #d65b12;
}

#mce-success-response a,
#mce-error-response a {
  color: #fff;
  text-decoration: underline;
}

email-.sign-up-form {
  text-align: center;
  border-radius: 2px;
  padding: 10px;
}

#sign-up-section {
  color: #ffffff;
  background-color: #d65b12;
  padding-bottom: 8em;
}

#sign-up-section:before {
  top: -4em;
  height: 4em;
  background-image: url("../img/figures/orange_bottom_right_triangle.svg");
}

/*
 -------------- Teaser SECTION --------------
 */

#teaser-section {
  background-color: #ffffff;
  padding-bottom: 8em;
}

#teaser-section:before {
  top: -4em;
  height: 4em;
  background-image: url("../img/figures/white_bottom_right_triangle.svg");
}

#teaser-section hr {
  border-top: 1px solid #000000;
}

/*
 -------------- FAQ SECTION --------------
 */

#faq-section {
  background-color: #d65b12;
  color: #ffffff;
  text-align: left;
  padding-bottom: 50px;
}

#faq-section:before {
  top: -4em;
  height: 4em;
  background-image: url("../img/figures/orange_bottom_left_triangle.svg");
}

#faq-section h2 {
  text-align: center;
}

#faq-section h3 {
  font-size: 2em;
  text-align: left;
  /*text-decoration: underline;*/
  line-height: 50px;
}

#faq-section h4 {
  cursor: pointer;
}

#faq-section a {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #faq-section h4 {
    cursor: pointer;
  }

  #logo-section #logo-section-top-margin {
    height: 30vh;
  }
}

#faq-section .arrow-animate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#faq-section .arrow-animate.down {
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*
 -------------- SCHEDULE SECTION --------------
 */

#schedule-section {
  background-color: #364759;
  color: #ffffff;
  text-align: center;
}

#schedule-section:before {
  top: -4em;
  height: 4em;
  background-image: url("../img/figures/gray_bottom_right_triangle.svg");
}

#schedule-section:after {
  bottom: -4em;
  height: 4em;
  background-image: url("../img/figures/gray_top_left_triangle.svg");
}

#schedule-section .table {
  text-align: left;
}

/*
 -------------- SPONSORS SECTION --------------
 */
#sponsors-section {
  padding-top: 75px;
  padding-bottom: 50px;
  color: #d65b12;
  text-align: center;
}

#sponsors-section a {
  color: #d65b12;
  text-decoration: underline;
}

#sponsors-section img {
  max-height: 200px;
  max-width: 80%;
  margin: 25px 1px;
}

#sponsors-section hr {
  border-top: 1px solid #d65b12;
  margin-bottom: 15px;
}

#sponsors-section hr#sponsor-category {
  border-top: 1px solid rgba(214, 91, 18, 0.1);
  margin: 0;
}
