hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#logo-section {
    background: url("../img/WebBanner.jpg") no-repeat center #D65B12;
    background-size: cover;
    /*background-color: #D65B12;*/
    height: 50vh;
    color: #ffffff;
}

#logo-section h1 {
    font-size: 10vh;/*6em;*/
}

#logo-section h2 {
    font-size: 5vh;/*2em;*/
}

#logo-section .logo-section-top-margin {
    height: 15vh;
}

#logo-section .btn-lg {
    font-size: 3vh;
}

.travel-section {
    background-color: #ffffff;
    padding-bottom: 8em;
}

.travel-section:before {
    top: -4em;
    height: 4em;
    background-image: url("../img/figures/white_bottom_right_triangle.svg");
}

.travel-section hr {
    border-top: 1px solid #000000;
}

.travel-section a {
    color: #000000;
    text-decoration: underline;
}

.nav-pills a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-pills .nav-link.active {
    background-color: #364759;
}

.nav-pills .nav-link.active a:hover {
    background-color: #364759;
}

.nav-pills>li>a:hover {
    background-color: #eee;
}

.nav-justified > li {
    display: table-cell;
    width: 1%
}

#map {
    height: 400px;
    width: 100%;
}